#content section {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin-bottom: 20px;
}
/* Titulo da tabela */
#content h2{
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #444443;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
}
/* Alert: Aulas 100% online */
#content h2 span{
  font-size: 13px;
  background: #FB5012;
  margin-top: 4px;
  padding: 4px 20px;
  border-radius: 4px;
}

#content table {
  width: 100%;
  text-align: center;
  border-spacing: 10px;
  padding: 10px 0;
  border: 1px solid #444443;
}
tr td {
  padding: 20px 4px;
}
/* Box da disciplina */
#content .cell-active{
  background: #444443;
  border-radius: 4px;
  transition: all ease 0.4s;
  width: 18vw;
  position: relative;
}

#content .cell-active .spanner2 {
  position: absolute;
  top: 0;
  left: 0;
  background: #444443;
  border-radius: 4px;
  height: 180%;
  width: 100%;
  padding-bottom: 30px;
}

#content .cell-active:hover{
  border-radius: 8px;
}
/* Content da disciplina */
#content .cell-active .cell-active-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Nome da disciplina */
#content .cell-active-content strong{
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}
/* Nome do docente e icone do user */
#content .cell-active-content p{
  display: flex;
  align-items: center;
  cursor: pointer;

  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: #e2e8f0;
}

#content .cell-tag {
  display: flex;
  align-items: center;
  font-weight: 500;

  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 12px;
}

#content .cell-tag.info {
  background: #4dab98;
}

#content .cell-tag.alert {
  background: #bb8823;
}

.icon{
  width: 11px;
  height: auto;
  margin-right: 4px;
}