@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #f8f9fa;
  background: #1E1B1B;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, input, button, a {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}