.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  margin-bottom: 20px;
}

.header-container h1{
  font-size: 54px;
  padding-right: 120px;
}

.header-container div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header-container label {
  font-size: 18px;
  font-style: italic;

  margin-bottom: 5px;
}

.header-container select{
  flex: 1;
  background: #444443;
  font-size: 34px;
  color: #f8f9fa;
}

.header-container option{
  background: #444443;
}