#main-container {
  margin: 20px auto;
  max-width: 1350px;
  width: 100%;
}

.linktoTop {
  border: none;
  position: fixed;
  bottom: 90px;
  right: 30px;

  background: #ff9900;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  width: 48px;
  color: white;
  z-index: 100;

  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

/* Mostra o  botão */
.notHidden {
  opacity: 1;
  transform: translateY(0);
}

#box-alert {
  display: flex;
  align-items: center;
  background: #bb8823;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#box-alert img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

#box-alert a {
  color: #444443;
}

#links-groups {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  background: rgba(112, 112, 112, 0.19);
  padding: 8px;
  margin-bottom: 20px;
}

#links-groups li {
  border: 1px solid white;
  border-radius: 10px;
  background: #494343;
  padding: 10px;
  transition: all ease 0.4s;
}

#links-groups li a {
  font-size: 14px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

#links-groups li:hover {
  cursor: pointer;
  border-color: #f8f9fa;
  background: #f8f9fa;
}

#links-groups li:hover a {
  color: #444443;
}

@media screen and (max-width: 450px) {
  .linktoTop {
    position: fixed;
    bottom: 120px;
    right: 20px;
  }
}
