body main {
  margin: 20px auto;
  max-width: 1350px;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  margin-bottom: 20px;
}

header h1{
  font-size: 54px;
  padding-right: 120px;
}

#input-select-semester {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#input-select-semester label {
  font-size: 18px;
  font-style: italic;

  margin-bottom: 5px;
}

#input-select-semester select{
  flex: 1;
  background: #444443;
  font-size: 34px;
  color: #f8f9fa;
}

#input-select-semester select option{
  background: #444443;
}

#box-alert {
  display: flex;
  align-items: center;

  background: #bb8823;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#box-alert img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

#box-alert a{
  color: #444443;
}

body table {
  width: 100%;
  text-align: center;
  border-spacing: 10px;
  padding: 10px 0;
  border: 1px solid #444443;
}

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin-bottom: 20px;
}

section h2{
  background: #444443;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
}

tr td {
  padding: 20px 4px;
}

tr td.cell-active{
  background: #444443;
  border-radius: 4px;
  transition: all ease 0.4s;
  width: 18vw;
}

tr td.cell-active:hover{
  cursor: pointer;
  border-radius: 8px;
}

tr td div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr td div strong{
  font-size: 16px;
  letter-spacing: 1.5px;

  margin-bottom: 5px;
}

tr td div p{
  display: flex;
  align-items: center;

  font-size: 15px;
  font-weight: 300;

  color: #e2e8f0;
}

tr td div span{
  display: flex;
  align-items: center;
  font-weight: 500;
}

.info {
  background: #4dab98;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 12px;
}

.alert {
  background: #bb8823;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 12px;
}

.icon{
  width: 11px;
  height: auto;
  margin-right: 4px;
}


