#main-container {
  margin: 20px auto;
  max-width: 1350px;
  width: 100%;
}

#box-alert {
  display: flex;
  align-items: center;

  background: #bb8823;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#box-alert img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

#box-alert a{
  color: #444443;
}

