@charset "UTF-8";

/* Folha de estilo CSS de horarios.fet
   Folha de estilos gerada por FET 5.37.5 em 22/05/2019 14:40 */

/* Para que as páginas sejam separadas a cada duas tabelas, delete "page-break-before: always;" em "table.even_table". */
/* Excluir "page-break-before: always;" em "table.even_table" e em "table.odd_table" para pular as quebras de página. */
/* Para ocultar um elemento, basta escrever a seguinte expressão no elemento: "display:none;" (sem aspas). */

* {
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 40px;
  text-align: center;
}

a:link,
a:active,
a:visited {
  color: #121212;
}

a:hover {
  color: #121212;
  font-weight: bold;
}

p.back {
  width: 80%;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: right;
  margin: 0 auto;
}

.hero {
  width: 80%;
  margin: 0 auto;
}

.hero div.icon {
  float: left;
  font-size: 6em;
  margin-right: 30px;
  padding-top: 10px;
  color: #003f00;
}

.hero div.content h2 {
  padding-top: 20px;
  margin: 5px;
  font-weight: bolder;
}

.hero div.content strong,
.hero div.content p {
  line-height: 1.0em;
}

.hero div.content strong {
  font-size: 1.2em;
}

.hero div.content i {
  font-size: 1.2em;
  line-height: 0.5em;
}

.header {
  background: #b4ffb4;
}

ul {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  list-style-position: inside;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}

ul li {
  display: block;
  float: left;
  height: 50px;
  margin-right: 4em;
  text-transform: uppercase;
}

ul li i {
  margin-right: 5px;
  color: #c0c0c0;
}

table {
  text-align: center;
  page-break-inside: avoid;
  margin-left: auto;
  margin-right: auto;
  width: 80% !important;
}

td {
  vertical-align: middle !important;
}

table.odd_table {
  page-break-before: always;
}

table.even_table {
  page-break-before: always;
}

table.detailed {
  margin-left:auto; margin-right:auto;
  text-align: center;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {

}

thead {

}

/* Usamos "tr.foot" pois alguns programas importam "tfoot" incorretamente. */

tr.foot {

}

tbody {

}

th {

}

td {

}

td.detailed {
  border: 1px dashed silver;
  border-bottom: 0;
  border-top: 0;
}

th.xAxis {
/* width: 8em; */
}

th.yAxis {
  height: 8ex;
}

/* Completar as horas livres dos professores */

div.DESCRIPTION {
  text-align: left;
  font-size: smaller;
}

/* Final do arquivo. */
